body{background-image:url("/Users/Leslie/trivia_game/assets/images/breakingbad.jpg");
background-size:cover;
position:;
background-attachment: fixed;
overflow:scroll;
background-repeat: repeat-y}
#title{color:white;}